Package: com.peterhajassoftware.mobilenotifiercydget
Name: MobileNotifierCydget
Depends: cydget
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Cydget!
Maintainer: Peter Hajas
Author: Peter Hajas
Section: Addons (Cydget)
