<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGiantCell</string>
			<key>label</key>
			<string>MobileNotifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>beta2r2. how cool do you feel?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Copyright 2010-2011 Peter Hajas Software</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>AlertDashboard on lock</string>
			<key>defaults</key>
			<string>com.peterhajassoftware.mobilenotifier</string>
			<key>key</key>
			<string>MNDashboardOnLock</string>
		</dict>
	</array>
	<key>title</key>
	<string>MobileNotifier</string>
</dict>
</plist>
