<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Springboard</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.peterhajassoftware.mobilenotifier</string>
			<key>key</key>
			<string>switcherViewEnabled</string>
			<key>label</key>
			<string>Alert Dashboard</string>
			<key>PostNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
			<key>postNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.peterhajassoftware.mobilenotifier</string>
			<key>key</key>
			<string>autoLaterAlertsEnabled</string>
			<key>label</key>
			<string>Auto-Later Alerts</string>
			<key>PostNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
			<key>postNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.peterhajassoftware.mobilenotifier</string>
			<key>key</key>
			<string>blackAlertStyleEnabled</string>
			<key>label</key>
			<string>Black Alert Style</string>
			<key>PostNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
			<key>postNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Double-tap home button to view Alert Dashboard. Alternatively, you may bring it back up using a gesture via Activator.</string>
			<key>label</key>
			<string>Lockscreen</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.peterhajassoftware.mobilenotifier</string>
			<key>key</key>
			<string>lockscreenEnabled</string>
			<key>label</key>
			<string>Lockscreen View</string>
			<key>PostNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
			<key>postNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.peterhajassoftware.mobilenotifier</string>
			<key>key</key>
			<string>antiqueLockAlertsEnabled</string>
			<key>label</key>
			<string>Apple Alerts</string>
			<key>PostNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
			<key>postNotification</key>
			<string>com.peterhajassoftware.mobilenotifier/reloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Peter Hajas © 2010-2011</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>peterhajas.com / @peterhajas</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>UI Design © Kyle Adams 2011</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>kyleadams.org / @kyleadamsdotorg</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Contributions from Tim Novinger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>timnovinger.com / @timnovinger</string>
		</dict>
	</array>
	<key>title</key>
	<string>MobileNotifier</string>
</dict>
</plist>
