Package: com.peterhajassoftware.mobilenotifier
Name: MobileNotifier
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS notifications. Done right.
Maintainer: Peter Hajas
Author: Peter Hajas
Section: Tweaks
