Package: com.peterhajassoftware.mobilenukifier
Name: MobileNukifier
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Peter Hajas
Author: Peter Hajas
Section: Utilities
